<section ng-controller="ChildrenController" ng-init="chooseDisplay()">
 <section>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="row col-lg-12">
                <h1 class="page-header">Sponsor a Child</h1>
                <ol class="breadcrumb">
                    <li class="active">Sponsor a Child</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div id="wrapper" style="width:100%; text-align:center">
          <div class="row col-lg-12">
            <label> Search by first name: </label>
            <input type="text" ng-model="search" placeholder="Search for a child!" ng-change="figureOutItemsToDisplay()" /> &nbsp &nbsp
            <label> Search by gender: </label>
              Male: <input type="radio" ng-model="genderSearch" value="M" ng-change="figureOutItemsToDisplay()" />
              Female: <input type="radio" ng-model="genderSearch" value="F" ng-change="figureOutItemsToDisplay()" />
              Either: <input type="radio" ng-model="genderSearch" value="" ng-change="figureOutItemsToDisplay()" />
          </div>
        </div>
        <!-- Child Listings -->
  <br></br>
	<a ng-repeat="child in pagedItems"  ui-sref="children.view({ childrenId: child._id })">
           	 <div class="col-md-4 text-center">
                	<div class="thumbnail">
			                <img ng-src="https://sustainablecambodia.s3.amazonaws.com/{{child.primaryPhoto | split:',':0 }}" alt="{{child.primaryPhoto}}" style="height:200px"></img>
                  	  <div class="caption">
                      	  <h3> {{child.firstName}} {{child.lastName}} <br>
                          	  <small>{{child.gender}} {{child.dob | date:MM/dd/YYYY}} </small>
                       	 </h3>
                  	 </div>
              	 	 </div>
           	 </div>
	</a>
  <div class="row col-lg-12">
	   <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
   </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Sustainable Cambodia 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>
</section>
