<div class="row" ng-controller="ChildrenController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Edit this Child</h3>
      <form name="childrenForm" class="form-horizontal" ng-submit="updateChild(childrenForm.$valid)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">First Name</label>
            <input name="name" type="text" ng-model="children.firstName" id="First name" class="form-control" placeholder="First Name" required>
            <div ng-messages="childrenFrom.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's first name is required</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="code">Last Name</label>
            <input name="code" type="text" ng-model="children.lastName" id="Last name" class="form-control" placeholder="Last Name" required>
            <div ng-messages="childrenFrom.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's last name is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input name="dob" type="text" ng-model="children.dob" id="dob" class="form-control" placeholder="Date of Birth">
            <div ng-messages="childrenFrom.dob.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's date of birth is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <input name="Gender" type="text" ng-model="children.gender" id="gender" class="form-control" placeholder="M or F">
            <div ng-messages="childrenFrom.gender.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's gender is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="eligibleForSponsorship">Sponsorship eligible</label>
            <input name="eligibleForSponsorship" type="text" ng-model="children.eligibleForSponsorship" id="eligibleForSponsorship" class="form-control" placeholder="true or false">
            <div ng-messages="childrenFrom.eligibleForSponsorship.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's sponsorship eligibility is required</p>
            </div>
          </div>
	         <div class="form-group">
            <label for="biography">Biography</label>
            <textarea rows="15" cols="30" name="biography" type="text" ng-model="children.biography" id="biography" class="form-control" placeholder="Type here"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
