<div class="row" ng-controller="ChildrenController">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Add Child</h3>

      <form name="childCreationForm" class="form-horizontal" ng-submit="createChild(childCreationForm.$valid)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="firstName">First Name</label>
            <input name="firstName" type="text" ng-model="children.firstName" id="firstName" class="form-control" placeholder="First Name" required>
            <div ng-messages="childCreationForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's first name is required</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="lastName">Last Name</label>
            <input name="lastName" type="text" ng-model="children.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
            <div ng-messages="childCreationForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's last name is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input name="dob" type="date" ng-model="children.dob" id="dob" class="form-control" placeholder="YYYY-MM-DD">
            <div ng-messages="childCreationForm.dob.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's date of birth is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input name="gender" type="text" ng-model="children.gender" id="gender" class="form-control" placeholder="M/F">
            <div ng-messages="childCreationForm.gender.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's gender is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="biology">Biology</label>
            <input name="biology" type="text" ng-model="children.biology" id="biology" class="form-control" placeholder="Biology">
            <div ng-messages="childCreationForm.gender.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's biology is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="eligibleForSponsorship">Eligible for Sponsorship</label>
            <input name="eligibleForSponsorship" type="text" ng-model="children.eligibleForSponsorship" id="eligibleForSponsorship" class="form-control" placeholder="true/false">
            <div ng-messages="childCreationForm.gender.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's sponsorship elegibility is required</p>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
