<div class="row" ng-controller="ChildrenController" ng-init="findOne()">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{children.firstName}} {{children.lastName}}</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="children.list">All Children</a>
                    </li>
                    <li class="active">{{children.firstName}}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
                <!-- Child Image -->
		<div id="wrapper" style="width:100%; text-align:center">
                <img ng-src="modules/children/client/img/uploads/{{children.primaryPhoto | split:',':0 }}" alt="{{child.primaryPhoto}}" style = "height:200px"></img>
		</div>
    <div id="wrapper" style="width:100%; text-align:center">
      {{children.primaryPhoto | split:',':1 }}
    </div>
      <div id="wrapper" style="width:100%; text-align:center">
			<button type="submit" class="btn btn-primary"> Sponsor Me!</button><!--TODO:Need to transfer child id to sponsorship module-->
     			<button type="submit" class="btn btn-primary" ng-show="isAdmin()" ui-sref="children.edit({ childrenId: children._id })">Edit this child</button>
			<button type="submit" class="btn btn-primary" ng-show="isAdmin()" ui-sref="children.picture({ childrenId: children._id })">Edit primary photo</button>
     			 <a class="btn btn-danger" ng-show="isAdmin()" ng-click="remove()">
         		 	<i class="glyphicon glyphicon-trash"></i>
          			Remove child
     			 </a>
      </div>
		</div>
		</div>
    <hr>
                <!-- Post Content -->
		<div id="wrapper" style="width:100%; text-align:center">
		    <h2>Biography</h2>
		</div>
      <p class="lead">{{children.biography}}
    <hr>
  <div id="wrapper" style="width:100%; text-align:center">
		  <h2>Additional Photos</h2>
	</div>
  <div ng-repeat="photo in children.additionalPhotos" >
    <div class="col-md-4 text-center">
      <div id="wrapper" style="width:100%; text-align:center">
                  <img ng-src="modules/children/client/img/uploads/{{photo | split:',':0 }}" alt="{{photo}}" style = "height:200px"></img>
      </div>
      <div id="wrapper" style="width:100%; text-align:center">
        {{photo | split:',':1 }}
      </div>
      <div id="wrapper" style="width:100%; text-align:center">
        <a class="btn btn-danger" ng-show="isAdmin()" ng-click="removephoto(photo)">
           <i class="glyphicon glyphicon-trash"></i>
             Remove photo
        </a>
     </div>
    </div>
  </div>
</div>
</br>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Sustainable Cambodia 2016</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</div>
