<div class="row" ng-controller="ChildrenController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Edit this Child</h3>
      <form name="childrenForm" class="form-horizontal" ng-submit="updateChild(childrenForm.$valid)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="firstName">First Name</label>
            <input name="firstName" type="text" ng-model="children.firstName" id="First name" class="form-control" placeholder="First Name" required>
            <div ng-messages="childrenForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's first name is required</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="lastName">Last Name</label>
            <input name="lastName" type="text" ng-model="children.lastName" id="Last name" class="form-control" placeholder="Last Name" required>
            <div ng-messages="childrenForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's last name is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input name="dob" type="text" ng-model="children.dob" id="dob" class="form-control" placeholder="Date of Birth">
            <div ng-messages="childrenForm.dob.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's date of birth is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            </br>
            Male: <input type="radio" name="gender" ng-model="children.gender" value="M" id="gender" required />
            Female: <input type="radio" name="gender" ng-model="children.gender" value="F" id="gender" required />
            <div ng-messages="childrenForm.gender.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's gender is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="eligibleForSponsorship">Sponsorship eligible</label>
            </br>
            true <input type="radio" name="eligibleForSponsorship" ng-model="children.eligibleForSponsorship" data-ng-value="true" id="eligibleForSponsorship" required />
            false <input type="radio" name="eligibleForSponsorship" ng-model="children.eligibleForSponsorship" data-ng-value="false" id="eligibleForSponsorship" required />
            <div ng-messages="childrenForm.eligibleForSponsorship.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Child's sponsorship eligibility is required</p>
            </div>
          </div>
	         <div class="form-group">
            <label for="biography">Biography</label>
            <textarea rows="15" cols="30" name="biography" type="text" ng-model="children.biography" id="biography" class="form-control" placeholder="Type here"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
