<section ng-controller="ChildrenController" ng-init="find()">
 <section>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sponsor a Child</h1>
                <ol class="breadcrumb">
                    <li class="active">Sponsor a Child</li>
                    <div class="col-md-4" style="margin-top: 2em">
                      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search for a child!" ng-change="figureOutItemsToDisplay()" />
                    </div>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Child Listings -->
	<a ng-repeat="child in pagedItems" ui-sref="children.view({ childrenId: child._id })">
           	 <div class="col-md-4 text-center">
                	<div class="thumbnail">
			<img ng-src="modules/children/client/img/uploads/{{child.primaryPhoto | split:',':0 }}" alt="{{child.primaryPhoto}}" style = "height:200px"></img>
                  	  <div class="caption">
                      	  <h3> {{child.firstName}} {{child.lastName}} <br>
                          	  <small>{{child.gender}} {{child.dob | date:MM/dd/YYYY}} </small>
                       	 </h3>
                  	 </div>
              	 	 </div>
           	 </div>
	</a>
  <div class="row">
	   <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
   </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Sustainable Cambodia 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>
</section>
