<section>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sponsor a Child</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a>
                    </li>
                    <li class="active">Sponsor a Child</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Child Listings -->
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4489%2EJPG&w=195&h=250" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3> Rathanaksamnang<br>
                            <small>Male, 9 years old</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4176%2EJPG&w=195&h=250" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3>JSreyna<br>
                            <small>Female, 17 years old</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F3319%2EJPG&w=195&h=250" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3>Chinda<br>
                            <small>Male, 21 years old</small>
                        </h3>
                    </div>
                </div>
            </div>
	    <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4489%2EJPG&w=195&h=250" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3> Rathanaksamnang<br>
                            <small>Male, 9 years old</small>
                        </h3>
                    </div>
                </div>
            </div>
	    <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4513%2Ejpg&w=195&h=250" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3>Risa<br>
                            <small>Female, 11 years old</small>
                        </h3>
                    </div>
                </div>
            </div>
	    <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a ui-sref="childPage">
			<img class="img-responsive" src="http://images.clipartpanda.com/children-writing-clipart-black-and-white-kids-clip-art_1404136785.jpg" style="width:128px;height:128px;" alt="">
		    </a>
                    <div class="caption">
                        <h3>{{child.name}}<br>
                            <small>{{child.age}}, {{child.gender}}</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>
