<section>

<h1>Welcome UsernamePlaceHolder</h1>

	<p>....accordian fold placeholder with ng-show for superAdmin and admin roles....<p>
	<h2>Children</h2>
		<div ng-controller="DashboardCtrl" ng-init="initChildren()">
  			<div ui-grid="{ data: children }" class="ui-grid"></div>
		</div>

	<br><p>....accordian fold placeholder with ng-show for superAdmin and admin roles....<p>
	<h2>Sponsorships</h2>
		<div ng-controller="DashboardCtrl" ng-init="initChildren()">
  			<div ui-grid="{ data: children }" class="ui-grid"></div>
		</div>

	<br><p>....accordian fold placeholder with ng-show for superAdmin and admin roles....<p>
	<h2>Dontations</h2>
		<div ng-controller="DashboardCtrl" ng-init="initChildren()">
  			<div ui-grid="{ data: children }" class="ui-grid"></div>
		</div>


