<section>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Donate</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a>
                    </li>
                    <li class="active">Donate</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Donate blurb -->

        <div class="row">
            <div class="col-sm-12"> 
                <p>Thanks for choosing Sustainable Cambodia blah blah lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>   
        <!-- /.row -->

        <!-- Donate -->
        <div class="row">
            <div class="col-sm-4">
                <h3>Donation Information</h3>
                <hr></hr>
                <p>Donation Amount (US$)
                </p>
                <button type="button" class="btn btn-primary btn-lg btn-block">$100.00</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">$50.00</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">$25.00</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">$10.00</button>
                <div class="col-xs-12" style="height:5px;"></div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button">Other</button>
                    </span>
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control input-lg" placeholder="Custom Amount">
                    <span class="input-group-addon">.00</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Make your donation monthly</label>
                </div>
                <h3>Other Options</h3>
                <hr></hr>
                <h4>Sponsor a Child</h4>
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4512%2Ejpg&w=195&h=250" alt="">
                </div>
                <p>Help these cool kids out. Wow wow lorem ipsum dolor sit amet get the hard cash feed the folks ya know what I mean?</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Select a Child</button>
                <h4>Village Gifts Program</h4>
                <div class="col-sm-4">
                    <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/cows-sm.jpg" alt="">
                </div>
                <p>Buy an amazing cool thing for the people. Wow wow lorem ipsum dolor sit amet do the thing woo hoo you are doing a great job</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" ui-sref="gifts">Give a Gift</button>
                <hr></hr>

            </div>

            <div class="col-sm-4">
                <h3>Payment Information</h3>
                <hr></hr>
                <h4>Select a Payment Type</h4>
                <button class="btn" ng-click="collapsedCC = false; collapsedPP = true; collapsedCheck = true">Credit Card</button>
                <button class="btn" ng-click="collapsedPP = false; collapsedCC = true; collapsedCheck = true">PayPal</button>
                <button class="btn" ng-click="collapsedCheck = false; collapsedCC = true; collapsedPP = true">Check</button>
                <div collapse="collapsedCC">
                    <label for="country">Name as it appears on the card</label>
                    <input type="text" class="form-control" id="country">
                    <div class="row">
                        <div class="col-xs-8">
                            <label for="ccardNum">Card Number</label>
                            <input type="text" class="form-control" id="ccardNum">
                        </div>
                        <div class="col-xs-4">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" id="cvv">
                        </div>
                    </div>
                    <label for="expPicker">Expiration Date</label>
                    <datepicker ng-model="date" min-mode="month" datepicker-mode="'month'" id="expPicker"></datepicker>
                    <!-- Remember to insert in controller:
                    $("#datepicker").datepicker( {
                        format: "mm-yyyy",
                        startView: "months", 
                        minViewMode: "months"
                    });
                    -->          
                </div>
                <div collapse="collapsedPP">
                    <h4>The transaction will be handled through PayPal.</h4>
                    <h4>Please continue to the next section.</h4>
                </div>
                <div collapse="collapsedCheck">
                    <h4>Please continue to the next section.</h4>
                </div>
                <h3>Billing Information</h3>
                <hr></hr>
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country">
                    <label for="addr1">Address</label>
                    <input type="text" class="form-control" id="addr1">
                    <input type="text" class="form-control" id="addr2">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city">
                    <label for="state">State/Province</label>
                    <input type="text" class="form-control" id="state">
                    <label for="zip">Zip/Postal Code</label>
                    <input type="text" class="form-control" id="zip">
                <div class="col-xs-12" style="height:10px;"></div>
                <button type="button" class="btn btn-success btn-lg btn-block">Verify!</button>
            </div>

            <div class="col-sm-4">
                <h3>Additional Information</h3>
                <hr></hr>
                    <label for="hearsay">How did you hear about us?</label>
                    <input type="text" class="form-control" id="hearsay">
                    <label for="comment">Questions/Comments</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>


            </div>
        </div>    

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sustainable Cambodia 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>