<section>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Village Gift Catalog</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a>
                    </li>
                    <li class="active">Village Gift Catalog</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Metrics? -->
        <div class="row">
            <div class="col-lg-12">
                <p>
                  Help village families change their lives through the Village Gift program! 
                </p>
                <p>
                  100% of the funds you contribute will go directly into the Village Development program, helping families obtain clean water, farm animals, vegetable gardens, fishponds and beehives. Village families who become part of the Pass-On Program are empowered to become donors themselves: When their animals have grown, or their beehive or fishpond is thriving, the family passes on an identical gift to two other families, and those families later do the same. So your gift keeps on growing through the years, creating positive change by empowerment of village families. 
                </p>
                <p>
                  Each gift you choose can be made in your name, or that of a friend or family member. You can choose as many gifts as you wish. For each gift we'll send you a thank-you card, and send one to the friend or family member in whose name you gave. 
                </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Donation links -->

         <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Gift Options</h2>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/pond-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Fishpond</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/ducks-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Ducks</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/chix-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Chickens</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/wells-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Wells & Water</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/bask-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Big Village Basket</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/veg-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Vegetable Garden</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/bees-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Bee Hive</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/pigs-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Pigs</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://www.sustainablecambodia.org/gifting/images/cows-sm.jpg" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Cows</h4>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sustainable Cambodia 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>