<section>
	<!-- Logo -->
	<div class="col-md-6">
        	<center>
            <img class="img-responsive" src="http://www.sustainablecambodia.org/Images/PageTopLogoA.gif" alt=""></img>
          </center>
	</div>


    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4380%2EJPG&w=195&h=250');"></div>
                <div class="carousel-caption">
                    <h2>Chanbut</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4116%2EJPG&w=195&h=250');"></div>
                <div class="carousel-caption">
                    <h2>Oudom</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.sustainablecambodia.org/shared/resize.asp?img=%2Fshared%2Fimages%2Fuploaded%2F4237%2EJPG&w=195&h=250');"></div>
                <div class="carousel-caption">
                    <h2>Bora</h2>
                </div>
            </div>
	    <div class="item active">
                <div class="fill" style="background-image:url('{{child.picture}}');"></div>
                <div class="carousel-caption">
                    <h2>{{child.name}}</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Sustainable Cambodia
                </h1>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> Who We Are </h4>
                   </div>
                    <div class="panel-body">
                        <p>Sustainable Cambodia works with the families of rural Cambodian villages to help them achieve sustainability and self-sufficiency through wells, irrigation systems, schools, training and empowerment.

Since 2004, Sustainable Cambodia's unique empowerment model has helped tens of thousands of Cambodian men, women and children to rebuild their shattered lives. YOU can make a huge difference. Any way you choose to help, 100% of your contribution will go directly to on-the-ground projects in rural Cambodia. Please join us and see what a difference you can make in a child's life!
</p>
                        <a href="http://www.sustainablecambodia.org/" class="btn btn-default" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> Latest News</h4>
				<h5>Nanyang Technological University (NTU) Hearts Project Hearts Project</h5>
                    </div>
                    <div class="panel-body">
                        <p>With the great help from our supporters, donors and friends, thousands of village families and students have changed their lives for the better. The greatest news is, that just last month, SC welcomed a group of students come from Singapore that made a huge difference in remote rural areas in Cambodia. Their project is called ‘Nanyang Technological University (NTU) Hearts Project 2015’!</p>
                        <a href="http://sustainablecambodianews.blogspot.com/2016/01/nanyang-technological-university-ntu.html" class="btn btn-default" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>We employ ONLY native Cambodians as paid staff. ALL international officers, directors and consultants are volunteers who are unpaid. This allows us to keep our overhead and fundraising expenses under 3%, and funding from the founders pays more than this modest amount. So literally 100% of your funding goes into helping the rural village families.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="https://secure.sustainablecambodia.org/donate/step1.asp?od=A9F9F34B-E366-4437-8074-C777AA3ACED8"><i class="fa fa-fw fa-gift"></i> Donate Now</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</section>
