<section>

        <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ways to Donate</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Ways to Donate</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Donation splash image -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>

        <!-- Metrics? -->

        <!-- Donation links -->

         <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Donation Options</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Sponsor a Child</h4>
                        <p>Give hope to children in rural Cambodia! By sponsoring a child in personal & school life, you give them a chance for a brighter future!</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Donate Now</h4>
                        <p>By making a donation today, you can make a difference to the lives of many Cambodian people.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Organizations</h4>
                        <p>What difference can YOU make? Whether you're a school or a company, we offer personal and tailored sponsorships that meet your needs.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Sponsor a Village</h4>
                        <p>Rural areas face lower levels of education, economic opportunity and resources. Help communities access the skills and resources they need to succeed.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Provide Clean Water</h4>
                        <p>88% of the rural areas we work in do not have clean water sources. Help villages access clean water through wells, rainwater harvesters and BioSand filters. </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <img class="img-responsive" src="http://placehold.it/300x200" alt="">
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Contribute Sustainably</h4>
                        <p>Support us through village development, education support, and more.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sustainable Cambodia 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</section>
