<div class="row" ng-controller="SponsorshipController" ng-init="loadChild()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Create a Sponsorship For {{children.firstName}} {{children.lastName}}</h3>
<!--To pass in the children ID use state params in the controller.  ng-submit should have ({ childrenId: children._id }) ? I think? -->
      <form name="sponsorshipForm" class="form-horizontal" ng-submit="createsponsorship(sponsorshipForm.$valid)">
        <!-- We need a form for begin/end date and payment type begin date defaults to now-->
        <fieldset>
          
          <div class="form-group" show-errors>
            <label for="PaymentType">Payment Type</label><br>
            <input name="paymentType" type="radio" ng-model="sponsorship.paymentType" id="Payment Type"  placeholder="Payment Type" value="1" required>"Payment Type 1"<br>
            <input name="paymentType" type="radio" ng-model="sponsorship.paymentType" id="Payment Type"  placeholder="Payment Type" value="2" >"Payment Type 2"<br>
            <div ng-messages="sponsorshipForm.paymentType.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Payment Type is Required</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label for="name">Monthly Subscription</label><br>

              <input name="name" type="radio" ng-model="sponsorship.monthlySubscription" id="Monthly Subscription" value="true" required>Yes <br>
              <input name="name" type="radio" ng-model="sponsorship.monthlySubscription" id="Monthly Subscription" value="false">No <br>

            <div ng-messages="sponsorshipForm.monthlySubscription.$error" role="alert">
              <p class="help-block error-text" ng-message="required">This field is Required</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label ng-hide="children.sponsorshipType===2" for="sponsorshipType">Sponsorship Type</label>
	    <label ng-show="children.sponsorshipType===2" for="sponsorshipType">Already fully sponsored</label>
	    <div ng-show="children.sponsorshipType===0"> Full Sponsorship</div>
            <input ng-show="children.sponsorshipType===0" name="sponsorshipType" type="radio" ng-model="sponsorship.sponsorshipType" id="Sponsorship Type" value="full" required>
	    <div ng-hide="children.sponsorshipType===2"> Half Sponsorship</div>
            <input ng-hide="children.sponsorshipType===2" name="sponsorshipType" type="radio" ng-model="sponsorship.sponsorshipType" id="Sponsorship Type" value="half">
            <div ng-messages="sponsorshipForm.sponsorshipType.$error" role="alert">
              <p class="help-block error-text" ng-message="required">This field is Required</p>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
