<div class="row" ng-controller="SponsorshipController" ng-init="find()">
    <!-- Page Content -->
    <div class="container">
      <section>
        <h1>Your Sponsorships</h1>

      </section>
        <div class="row">
            <div data-ng-repeat="userSponsorships in filteredOutSponsorships">



                <!--{{userSponsorships.user_id}}-->

                <div class="col-md-4 col-lg-4 text-center">
                    <div class="thumbnail">
                      <a ui-sref="children.view({ childrenId:userSponsorships.childId})">
                        <div class="caption">
                          <h2>
                          {{userSponsorships.firstName}}
                          {{userSponsorships.lastName}}

                        </h2>



                        <img ng-src="modules/children/client/img/uploads/{{userSponsorships.primaryPhoto}}"></img>
                        <!--Place Image Here! -->
                            <h3>Start Date: {{userSponsorships.beginDate | date:MM/dd/YYYY}}<br>
                                End Date: {{userSponsorships.endDate | date:MM/dd/YYYY}}
                             </h3>
                       </div>
                     </a>
                    </div>
                 </div>
            </div>
            <!--<div data-ng-repeat="sponsorship in sponsorship">
              {{sponsorship.childFirstName}}
              {{sponsorship.childLastName}}
              {{sponsorship.userEmail}}

            </div>-->
        </div>
        <!-- /.row -->
        <!-- Content Row -->


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</div>
